html,
body,
input,
textarea,
div,
p,
span,
h1,
h2,
h3,
h4,
i,
b,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
input,
textarea {
  margin: 0;
  padding: 0;
  resize: none;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  line-height: normal;
}
html,
body {
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Helvetica, Arial, PingFang SC, Microsoft YaHei, sans-serif, SimSun;
}
body {
  overflow-y: scroll;
  background-color: rgb(242, 242, 242);
}
